<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/db1?characterEncoding=UTF-8" />
        <property name="username" value="tsn" />
        <property name="password" value="tsn" />
    </bean>

    <bean id="customerDAO" class="bd_spring.ShopsDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
	
</beans>